<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="https://vkmt-test.lenoblgis.ru/" />
<title>Testcase_Company and Contact</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Testcase_Company and Contact</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/#/login</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;login.username&quot;]</td>
	<td>User</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;login.password&quot;]</td>
	<td>123</td>
</tr>
<tr>
	<td>click</td>
	<td>//button[@type='button']</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Контрагенты</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=div.md-toolbar-tools &gt; button.md-button.md-ink-ripple</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.name&quot;]</td>
	<td>ОА &quot;ЛенОблГис&quot;</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.shortName&quot;]</td>
	<td>АО &quot;ЛОГ&quot;</td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=//*[@ng-model=&quot;company.companyType&quot;]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=/html/body/div[4]/md-select-menu/md-content/md-option[1]</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.phone&quot;]</td>
	<td>+1 (111) 111-11-11</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.fax&quot;]</td>
	<td>+1 (111) 111-11-11</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.email&quot;]</td>
	<td>log@mail.ru</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.site&quot;]</td>
	<td>log.ru</td>
</tr>
<tr>
	<td>click</td>
	<td>css=md-autocomplete-parent-scope.ng-scope &gt; span</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=#ul-1723 &gt; li.ng-scope &gt; md-autocomplete-parent-scope.ng-scope &gt; span</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=input-1724</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//ul[@id='ul-1724']/li[2]/md-autocomplete-parent-scope/span</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=#ul-1725 &gt; li.ng-scope &gt; md-autocomplete-parent-scope.ng-scope &gt; span</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.address.street&quot;]</td>
	<td>1</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.address.house&quot;]</td>
	<td>1</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.address.building&quot;]</td>
	<td>1</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.address.housing&quot;]</td>
	<td>1</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=//*[@ng-model=&quot;company.address.room&quot;]</td>
	<td>1</td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=/html/body/div[3]/md-dialog/md-dialog-actions/button[2]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=/html/body/main/div/div[1]/ng-include[1]/md-card/md-card-title/md-card-title-text/span</td>
	<td>АО &quot;ЛОГ&quot;</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=/html/body/main/div/div[1]/ng-include[1]/md-card/md-card-content/ul/li[1]/p</td>
	<td>Государственные ЛПУ</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=/html/body/main/div/div[1]/ng-include[1]/md-card/md-card-content/ul/li[2]/p</td>
	<td>ОА &quot;ЛенОблГис&quot;</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=/html/body/main/div/div[1]/ng-include[1]/md-card/md-card-content/ul/li[3]/p</td>
	<td>+1 (111) 111-11-11 / +1 (111) 111-11-11</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=/html/body/main/div/div[1]/ng-include[1]/md-card/md-card-content/ul/li[4]/p</td>
	<td>log@mail.ru</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=/html/body/main/div/div[1]/ng-include[1]/md-card/md-card-content/ul/li[5]/p</td>
	<td>http://log.ru</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=/html/body/main/div/div[1]/ng-include[1]/md-card/md-card-content/ul/li[6]</td>
	<td>Адрес Центральный федеральный округ Белгородская обл Алексеевский район г Алексеевка улица 1 дом 1 сооружение 1 корпус 1 помещение 1</td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=/html/body/main/div/div[2]/md-tabs/md-tabs-wrapper/md-tabs-canvas/md-pagination-wrapper/md-tab-item[3]/span</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=/html/body/main/div/div[2]/md-tabs/md-tabs-content-wrapper/md-tab-content[3]/div/ng-include/md-card/md-list/md-list-item[1]/div[1]/h3</td>
	<td>Смирнов Николай создание card_travelАО &quot;ЛОГ&quot; (Государственные ЛПУ)</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>xpath=/html/body/main/div/div[2]/md-tabs/md-tabs-content-wrapper/md-tab-content[3]/div/ng-include/md-card/md-list/md-list-item[1]/md-icon</td>
	<td></td>
</tr>

</tbody></table>
</body>
</html>
